
  
 <html>
  <head>
    <style>
      h1 {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>My Users</h1>
  </body>
  </html>

<div>
  <label for="new-user">User name: </label>
  <input id="new-user" #userName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button [routerLink]="['/userAdd']"> Add User </button>

</div>

<ul class="users">
  <li *ngFor="let user of users">
    <a routerLink="/detailUser/{{user._id}}">
      <span class="badge">{{user.userName}}</span> 
    </a>
    <button type="button" class="delete" title="delete user"
      (click)="delete(user)">x</button>
  </li>
</ul>
