<p>event works!</p>
<h2>My Events</h2>

<div>
  <label for="new-event">Event name: </label>
  <input id="new-event" #eventName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(eventName.value); eventName.value=''">
    Add event
  </button>
</div>

<ul class="events">
  <li *ngFor="let event of events">
    <a routerLink="detailEvent/{{event.id}}">
      <span class="badge">{{event.eventName}}</span> 
    </a>
    <button type="button" class="delete" title="delete event"
      (click)="delete(event)">x</button>
  </li>
</ul>
